@font-face {
	font-family: dinpro;
	font-display: swap;
	src: url("../fonts/dinpro.woff2") format("woff2"), url("../fonts/dinpro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_black;
	font-display: swap;
	src: url("../fonts/dinpro_black.woff2") format("woff2"), url("../fonts/dinpro_black.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_blackitalic;
	font-display: swap;
	src: url("../fonts/dinpro_blackitalic.woff2") format("woff2"), url("../fonts/dinpro_blackitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_bold;
	font-display: swap;
	src: url("../fonts/dinpro_bold.woff2") format("woff2"), url("../fonts/dinpro_bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_bolditalic;
	font-display: swap;
	src: url("../fonts/dinpro_bolditalic.woff2") format("woff2"), url("../fonts/dinpro_bolditalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_condensedblack;
	font-display: swap;
	src: url("../fonts/dinpro_condensedblack.woff2") format("woff2"), url("../fonts/dinpro_condensedblack.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_condensedblackitalic;
	font-display: swap;
	src: url("../fonts/dinpro_condensedblackitalic.woff2") format("woff2"), url("../fonts/dinpro_condensedblackitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_condensedbold;
	font-display: swap;
	src: url("../fonts/dinpro_condensedbold.woff2") format("woff2"), url("../fonts/dinpro_condensedbold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_condensedbolditalic;
	font-display: swap;
	src: url("../fonts/dinpro_condensedbolditalic.woff2") format("woff2"), url("../fonts/dinpro_condensedbolditalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_condenseditalic;
	font-display: swap;
	src: url("../fonts/dinpro_condenseditalic.woff2") format("woff2"), url("../fonts/dinpro_condenseditalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_condensedlight;
	font-display: swap;
	src: url("../fonts/dinpro_condensedlight.woff2") format("woff2"), url("../fonts/dinpro_condensedlight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_condensedlightitalic;
	font-display: swap;
	src: url("../fonts/dinpro_condensedlightitalic.woff2") format("woff2"), url("../fonts/dinpro_condensedlightitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_condensedmedium;
	font-display: swap;
	src: url("../fonts/dinpro_condensedmedium.woff2") format("woff2"), url("../fonts/dinpro_condensedmedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_condensedmediumitalic;
	font-display: swap;
	src: url("../fonts/dinpro_condensedmediumitalic.woff2") format("woff2"), url("../fonts/dinpro_condensedmediumitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_condensedregular;
	font-display: swap;
	src: url("../fonts/dinpro_condensedregular.woff2") format("woff2"), url("../fonts/dinpro_condensedregular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_italic;
	font-display: swap;
	src: url("../fonts/dinpro_italic.woff2") format("woff2"), url("../fonts/dinpro_italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_light;
	font-display: swap;
	src: url("../fonts/dinpro_light.woff2") format("woff2"), url("../fonts/dinpro_light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_lightitalic;
	font-display: swap;
	src: url("../fonts/dinpro_lightitalic.woff2") format("woff2"), url("../fonts/dinpro_lightitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_medium;
	font-display: swap;
	src: url("../fonts/dinpro_medium.woff2") format("woff2"), url("../fonts/dinpro_medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dinpro_mediumitalic;
	font-display: swap;
	src: url("../fonts/dinpro_mediumitalic.woff2") format("woff2"), url("../fonts/dinpro_mediumitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
