:root {
  --font-accent: 'Inter', sans-serif;
  --font-titles: #8e8e8e;

  --transition-effect: 0.2s;
  --white-color: #fff;
  --text-color: #959ea8;
  --link-color: #969699;
  --logo-color: #919191;
  --nav-link-color: #919194;
  --header-link: lightcoral;
  --nav-bar: #1e1e1e;
  --burger-color: #000;
  --black-color: #000000;
  --nav-hover-effect: #d10101;
  --points-color: #c0bfc0;
  --sub-points: #96908d;
  --member-background: #bacfdd;
  --member-border: #bacfdd;
  --letter-tex: #959ea8;
  --letter-bg: lightgray;
  --copy-input: #f6f6f6;
  --copy-input-bg: #fefefe;
  --hover-shadow: 10px 10px 10px rgba(36, 36, 36, 0.5);

  //Form style
  --select-gradient: rgba(200, 200, 200, 0.8);
  --select-gradient-dark: rgba(255, 255, 255, 0);
  --select-border: #cfcfcf;
  --select-text: #b5b5b5;
  --label-text: #959595;

  //Recognize style
  --recognize-text: #979797;
  --recognize-link: lightcoral;
  --recognize-item-bg: lightgray;

  //Button style
  --border-style: #9cb7c7;
  --bg-btn-style: #b1cbd8;
  --btn-form-color: #e1f0f3;

  //Title colors
  --title-color: #232323;
  --sub-title: var(--black-color);
  --aside-sub-title: #bbbaba;
  --member-title: #e3f1f4;
  --member-sub-title: #d4e6ee;
  --recognize-title: var(--black-color);
  --recognize-sub-title: #e2d3ba;
  --personal-title: var(--black-color);

  // E-card vars
  --e-card-heading: #878787;
  --e-card-text: #b1cbd8;
  --e-card-date: #8ba5b2;
  --e-card-sub-title: var(--black-color);
}
